@import url(//db.onlinewebfonts.com/c/2167e76f00e569cc11b3665679996380?family=Futura+Light);
@import url(//db.onlinewebfonts.com/c/50fdb00bd31f40c13c4fab9f1de2387e?family=Didot);

@font-face {
  font-family: 'Futura Light';
  src: url('//db.onlinewebfonts.com/t/2167e76f00e569cc11b3665679996380.eot');
  src: url('//db.onlinewebfonts.com/t/2167e76f00e569cc11b3665679996380.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/2167e76f00e569cc11b3665679996380.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/2167e76f00e569cc11b3665679996380.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/2167e76f00e569cc11b3665679996380.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/2167e76f00e569cc11b3665679996380.svg#Futura Light')
      format('svg');
}

@font-face {
  font-family: 'Didot';
  src: url('//db.onlinewebfonts.com/t/50fdb00bd31f40c13c4fab9f1de2387e.eot');
  src: url('//db.onlinewebfonts.com/t/50fdb00bd31f40c13c4fab9f1de2387e.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/50fdb00bd31f40c13c4fab9f1de2387e.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/50fdb00bd31f40c13c4fab9f1de2387e.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/50fdb00bd31f40c13c4fab9f1de2387e.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/50fdb00bd31f40c13c4fab9f1de2387e.svg#Didot')
      format('svg');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.NavBar {
  background-color: rgb(237, 255, 230);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  box-shadow: 0 30px 40px rgba(255, 255, 255, 0.1);
}

.NavLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  width: 70em;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(107, 134, 89);
  margin: 5px;
  transition: all 0.3s ease;
}

button:hover {
  color: rgb(153, 187, 133);
  transition: ease-in 0.3s;
}

.HomeButton,
.PoetryButton,
.FictionButton,
.NonFictionButton,
.BlogButton,
.ContactButton {
  background: none;
  color: rgb(107, 134, 89);
  border: none;
  padding: 0;
  font-family: 'Futura Light';
  cursor: pointer;
  outline: inherit;
  font-weight: 600;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .NavBar {
    background-color: rgb(194, 221, 181);
  }
  .NavLinks {
    padding-top: 5em;
    padding-bottom: 20em;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: rgb(194, 221, 181);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    z-index: 1000;
    transition: transform 0.5s ease-in;
  }
  .NavLinks button {
    opacity: 0;
  }
  .burger {
    position: absolute;
    display: block;
    right: 30px;
  }
  .HomeButton,
  .PoetryButton,
  .FictionButton,
  .NonFictionButton,
  .BlogButton,
  .ContactButton {
    color: white;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid rgb(146, 170, 130);
    font-size: 100%;
  }
}

.NavActive {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: white;
}
.toggle .line2 {
  opacity: 0;
  background-color: white;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: white;
}

.logo {
  display: block;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.PoetryProse {
  text-align: center;
  font-family: 'EB Garamond';
  font-size: 125%;
  font-weight: 100;
  color: rgb(107, 134, 89);
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(194, 212, 182);
}

.About,
.AboutContent {
  align-content: center;
  padding-left: 1vw;
  font-family: 'Nunito';
  font-weight: 100;
  letter-spacing: 0px;
  color: rgb(83, 83, 83);
  /* padding-bottom: 30px; */
}

.About {
  padding-top: 8vh;
  padding-bottom: 3vh;
}

.HouseContainer {
  grid-area: main;
  padding-top: 50px;
  padding-bottom: 18.5vh;
  /* padding-left: 4vw; */
  /* padding-right: 25vw; */
  /* border-bottom: 1px solid rgb(194, 212, 182);  */
}

.AboutContainer {
  grid-area: sidebar;
  /* top: -25vh; */
  /* margin-bottom: 20px; */
}

.HomeFooter {
  border-top: 1px solid rgb(194, 212, 182);
  max-height: 1vh;
  padding-top: 3vh;
  padding-left: 20vw;
  padding-right: 20vw;
}

.CopyRightFooter {
  float: left;
  color: rgb(83, 83, 83);
  font-family: 'Nunito';
  font-weight: 100;
  font-size: 90%;
}

.ContactIcons {
  float: right;
}

.ContactIcons i {
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(83, 83, 83);
}

.MessageContainer {
  grid-area: main;
  padding-bottom: 39vh;
  width: 180%;
  text-align: center;
}

.Container {
  display: grid;
  grid-template-columns: 23% 29% 25% 23%;
  grid-template-rows: 8vh 28.5vh auto 8vh;
  grid-template-areas:
    'header header header header'
    'logo logo logo logo'
    '. main sidebar .'
    'footer footer footer footer';
}

.FooterContainer {
  grid-area: footer;
}

.HeaderContainer {
  grid-area: header;
}

.LogoContainer {
  grid-area: logo;
}

.CardContainer {
  /*  */
  /* padding-left: 20vw; */
  /* padding-right: 20vw; */
  /* border-bottom: 1px solid rgb(194, 212, 182); */
}

.Cards {
  grid-area: main;
  padding-top: 3vh;
  padding-bottom: 3vh;
  /* float: left; */
  /* width: 50%; */
  /* padding-right: 40px; */
}

.Cards img {
  padding-bottom: 2vh;
}

.Cards h1 {
  font-family: 'Futura Light';
  font-weight: 100;
  font-size: 150%;
}
.Cards h3 {
  font-family: 'Nunito';
  font-weight: 100;
  font-size: 100%;
  color: rgb(123, 143, 110);
  padding-bottom: 1vh;
}

.Cards p {
  font-family: 'Nunito';
  font-weight: 100;
  font-size: 90%;
  color: rgb(83, 83, 83);
  letter-spacing: -0.5px;
  padding-bottom: 5vh;
  padding-right: 15vh;
}

.Cards button {
  cursor: pointer;
  float: right;
  background: white;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.PoetrySidebar {
  grid-area: sidebar;
  /* float: right; */
  /* width: 10%; */
  padding-top: 10vh;
  padding-left: 7vw;
  /* display: inline; */
  width: 80%;
}

.PoetrySidebar h2 {
  font-family: 'Didot';
  font-weight: 100;
  font-size: 130%;
  padding-bottom: 3vh;
  padding-top: 2vh;
  color: rgb(64, 82, 53);
}

.PoetrySidebar input {
  background-color: rgb(211, 219, 207);
  outline: none;
  width: 100%;
  padding: 8px 28px;
  padding-left: 15px;
  font-family: 'Nunito';
  font-weight: 100;
  border: 0px;
}

.PoetrySidebar h3 {
  font-family: 'Futura Light';
  font-weight: 100;
  font-size: 90%;
  padding-bottom: 1vh;
  color: rgb(132, 148, 123);
}

.block {
  margin-top: 1vh;
  margin-bottom: 8vh;
  display: block;
  width: 100%;
  border: none;
  color: white;
  background-color: rgb(132, 148, 123);
  padding: 8px 28px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  font-family: 'Nunito';
  font-weight: 100;
}

.RecentTitle {
  font-family: 'Futura Light';
  font-weight: 100;
  font-size: 110%;
}

.RecentDate {
  font-family: 'Futura Light';
  font-weight: 100;
  font-size: 85%;
  padding-bottom: 1vh;
  color: rgb(120, 146, 106);
}

.TagElements {
  cursor: pointer;
  font-family: 'Futura Light';
  font-weight: 100;
  font-size: 85%;
  color: rgb(64, 82, 53);
}

#spanner {
  padding-left: 10px;
}

.FormContainer {
  grid-area: main;
  padding-bottom: 23vh;
  width: 180%;
  padding-left: 10vw;
  padding-right: 8vw;
  text-align: left;
}

.FormTitle {
  padding-top: 5vh;
  padding-bottom: 3vh;
  font-family: 'Futura Light';
  font-weight: 100;
  font-size: 150%;
  color: rgb(64, 82, 53);
}

::placeholder {
  color: rgb(64, 82, 53);
}

.FormName,
.FormEmail,
.FormSubject,
.FormMessage,
.FormButton {
  border: none;
  border-bottom: 1px solid rgb(64, 82, 53);
  padding: 5px;
  padding-top: 1vh;
  color: rgb(64, 82, 53);
}
.FormName {
  width: 50%;
}
.FormEmail {
  width: 50%;
}
.FormSubject {
  width: 100%;
}
.FormMessage {
  width: 100%;
  padding-bottom: 8vh;
}
.FormButton {
  text-align: center;
  color: rgb(64, 82, 53);
  cursor: pointer;
  background: white;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
form h3 {
  color: rgb(120, 146, 106);
  font-family: 'Futura Light';
  font-weight: 100;
  font-size: 100%;
}

@media screen and (max-width: 1440px) {
  .Container {
    max-width: 1440px;
    grid-template-rows: 8vh 28.5vh auto 8vh;
    grid-template-columns: 16% 37% 31% 16%;
  }

  .HouseContainer {
    padding-bottom: 23vh;
  }

  .FormContainer {
    padding-bottom: 25vh;
  }
}

@media screen and (max-width: 1024px) {
  .Container {
    max-width: 1024px;
    grid-template-columns: 6% 54% 39% 2%;
  }

  .MessageContainer {
    width: 160%;
  }

  .FormContainer {
    width: 160%;
  }
}

@media screen and (max-width: 768px) {
  .Container {
    max-width: 768px;
    grid-template-rows: 8vh 28.5vh auto auto 8vh;
    grid-template-areas:
      'header header header header'
      'logo logo logo logo'
      'main main main main'
      'sidebar sidebar sidebar sidebar'
      'footer footer footer footer';
  }

  .HouseContainer {
    padding-left: 20vw;
    width: 100%;
    padding-bottom: 5vh;
  }
  .About,
  .AboutContent {
    text-align: center;
    padding-top: 0vw;
    padding-bottom: 3vh;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .Cards {
    grid-area: main;
    padding-left: 10vw;
  }

  .Cards button {
    padding-right: 5vw;
  }

  .PoetrySidebar {
    text-align: center;
    padding-left: 7vw;
    width: 90%;
  }

  .TagElements {
    padding-bottom: 3vh;
  }

  .MessageContainer {
    width: 100%;
  }

  .FormContainer {
    width: 95%;
  }
}

@media screen and (max-width: 425px) {
  .Container {
    max-width: 425px;
    max-height: 94vh;
  }
  .HouseContainer {
    padding-left: 0vw;
  }

  .CopyRightFooter {
    float: none;
    text-align: center;
    padding-bottom: 2vh;
  }

  .ContactIcons {
    text-align: center;
    float: none;
  }

  .ContactIcons i {
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(83, 83, 83);
  }

  .Cards {
    padding-left: 0vw;
  }

  .Cards h3,
  h1,
  p {
    padding-left: 5vw;
  }

  .Cards img {
    padding-left: 10vw;
    max-width: 90%;
    height: auto;
  }
  .MessageContainer {
    padding-top: 3vh;
    padding-bottom: 30vh;
  }

  .FormContainer {
    padding-bottom: 18vh;
  }
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
}
